@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2b304d;
  color: #e4eaf5;
}

@layer components {
  /* CARD TEMPLATE */
  .card-template {
    @apply mx-4 mb-4 h-fit rounded-xl bg-mainCard p-4 sm:p-6 md:mx-8 lg:mx-12;
  }

  /* SCROLL UP BUTTON */
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .slide-in {
    animation: slideIn 0.5s forwards;
  }

  .slide-out {
    animation: slideOut 0.5s forwards;
  }

  /* HAMBURGER MENU */
  @keyframes hamburgerLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes hamburgerRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .hamburger-left {
    animation: hamburgerLeft 0.5s forwards;
  }

  .hamburger-right {
    animation: hamburgerRight 0.5s forwards;
  }
}
